header{
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    width: 100%;
}
.logo{
    text-decoration: none;
}
h2{
    margin: 2% 4%;
}
.nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: auto 0;
}
.NavLink {
    margin: auto 0;
    padding: 2% 4%;
    text-decoration: none;
}

.NavLink:hover{
    transition: .3s;
    background-color: rgb(42, 42, 42);
}

.active{
    background-color: rgb(72, 69, 69);
}